/* Generales (Navegador, Body, Footer, fuentes) */
html{
scroll-behavior:smooth;
scroll-padding: 5vw;
}

/*  */
/* hr */
hr{
border-top: 1px #fff;
width: 42vw;
margin: auto;
}
/* Body */
body{
background-color: rgb(8, 109, 249);
cursor: url('Imagenes/Mouse1.webp'), auto;
}
a{
cursor: url('Imagenes/Mouse2.webp'), auto;
}
figure{
cursor: url('Imagenes/Mouse2.webp'), auto;
}
.capa{
cursor: url('Imagenes/Mouse2.webp'), auto;
}
.capa2{
cursor: url('Imagenes/Mouse2.webp'), auto;
}
.capa3{
cursor: url('Imagenes/Mouse2.webp'), auto;
}
*::after,
*::before{
margin: 0; 
padding: 0;
font-family: inherit;
box-sizing: inherit;
}
*{
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
.margin{
padding-left: 3vw;
background-color: rgb(8, 109, 249);
width: 98%;
}
*::-webkit-scrollbar {
background-color: rgb(8, 109, 249);
width: 7px;
margin-left: 1vw;
}
*::-webkit-scrollbar-thumb {
background: #6AF0F7 ;
border-radius: 2vw
}
/* Navegador */
.Logo { /*Cambia mi cara por un logo piola*/
height: 6vw;
width:6vw;
margin-right: 2vw;
float: left;
margin-top: 1.4vw;
margin-bottom: 0.4vw;
}
.navigator a:hover{
background-color: rgb(184, 134, 11, 0.3);
border-radius: 2vw;

}
nav{
float: right;   
width: 100%;
display: flex;
justify-content: center;
position: fixed;
background-color: rgb(8, 109, 249);
z-index: 1000;
height: 9vw;
}
nav ul li{

list-style: none;
margin-left: 3vw;
float: left;
padding: 2vw 0 ;
position: relative;
display: flex;
justify-content: space-between;
}
nav ul li a{
padding: 1vw;
text-decoration: none;
color: black;
font-weight: bold;

}
nav ul li a:hover::before{
display: block;
content: '';
width: 0;
background: rgb(85, 84, 84);
height: 0.3vw;
top: 0;
position: sticky;
}
header{
background-color: rgb(8, 109, 249);
width: 100%;
clear: both;
content: '';
display: table;
}
/* Footer */
footer{
font-size: 2vw;
display: flex;
justify-content: center;
background-color: #6AF0F7;
flex-direction: column;
align-items: center;
width: 100%;
margin-left: 0px;
margin-right: 0px;
position: relative;
height: 14vw;
}

.FooterRedes{
display: flex;
justify-content: space-around;
flex-direction: row;
}
.grupo1{
display: flex;
justify-content: space-between;
flex-direction: row;
padding: 2vw;
}
.grupo2{
font-size: small;
}
.box2{
padding-left: 7vw;
padding-right: 7vw;

}
.box2 h2{
font-size: medium;
}
.box2 p{
font-size: medium;
}
.box h2{
font-size: medium;
}

.Social{
width: 6vw;
height: 6vw;
padding: 1vw;
}
.box h2{
text-align: center;
}
/* Listas */
ul {
list-style: none;
}
/* Intro */
.intro {
position: fixed;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
z-index: 10000;
left: 0;
top: 0;
width: 100%;
height: 100vh;
background: rgb(8, 109, 249);
transition: 1.5s;
}
.intro img {
top: 10vw;
position: absolute;
width: 10vw;
height: auto;
}
.intro p{
color: black;

margin-top: 5vw;   
}
.LogoIntro {

color: black;
padding-top: 13vw;
}
.IntroPartes {
position: relative;
display: inline-block;
bottom: -20px;
opacity: 0;
}
.IntroPartes.active {
bottom: 0;
opacity: 1;
transition: ease-in-out 0.5s;
}
.IntroPartes.fade {
bottom: 250px;
opacity: 0;
transition: ease-in-out 0.5s;
}
/* Estudios */
.EstudiosImagen{
border: solid 1px #FFF;
background-image: url("Imagenes/FondoEstudio.webp");
display: flex;
justify-content: center;
height: 11vw;
width: 85.5vw;
margin-left: 1.5vw;
border-radius: 1vw;
}
.EstudiosImagen h1{
background-color: rgba(0, 0, 0, 0.7);
padding: 1vw;
height: 5.5vw;
border-radius: 0.2vw;
color: white;
}
section[id]{
scroll-margin-top: 7vw;
scroll-behavior: smooth;
}

/* Skills */
.conocimiento{
width: 100%;
display: flex;
justify-content: center;
align-items:flex-start;
height: 20vh;
}
.conocimiento figure{
border: 1px solid #ccc;
margin: 3vw;
/* margin-top: 4vw; */
position:relative;
height: 15vw;
cursor: pointer;
width: 20vw;
overflow: hidden;
border-radius: 6px;
box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}
.conocimiento figure img{
width: 14vw;
height: 14vw;
/* all 400ms ease-out */
transition: 1.5s;
will-change: transform;
padding: 2vw;
}
.conocimiento figure .capa{
position: absolute;
top: 0;
width: 100%;
height: 100%;
background: rgba(42, 217, 230, 0.85);
transition: 2s;
opacity: 0;
visibility: hidden;
text-align: center;
}
.conocimiento figure:hover > .capa {
opacity: 1;
visibility: visible;
}
.conocimiento figure:hover > .capa h3{
margin-top: 3vw;
margin-bottom: 1vw;

}
.conocimiento figure:hover > img{
transform: scale(1.3);
}
.conocimiento figure .capa h3{
color: black;
font-weight: 400;
margin-bottom: 120px;
transition: 1.5s;
margin-top: 30px;
}
.conocimiento figure .capa2{
position: absolute;
top: 0;
width: 100%;
height: 100%;
background: rgba(42, 217, 230, 0.85);
transition: 2s;
opacity: 0;
visibility: hidden;
text-align: center;
}
.conocimiento figure:hover > .capa2 {
opacity: 1;
visibility: visible;
transition: 2s;
}
.conocimiento figure:hover > .capa2 h3{
margin-top: 2vw;
margin-bottom: 1vw;
transition: 2s;

}
.conocimiento figure:hover > img{
transform: scale(1.3);
transition: 2s;
}
.conocimiento figure .capa2 h3{
color: black;
font-weight: 400;
margin-bottom: 120px;
transition: 1.5s;
margin-top: 30px;
transition: 2s;
}
/* Skills */
.IntroEstudios{
margin-right: 1.3vw;
margin-left: 0.5vw;
}
.Estudios a{
display:block;
width:9vw;
font-weight:400;
border-radius: 1vw;
margin:1vw 1.3vw;
padding:1vw 2vw;
text-decoration:none;
color:white;
background-color:rgb(8, 109, 249);
}
.Botones{
display: flex;
justify-content: space-around;
flex-direction: row;
transition: 1.5s;
}
.Botones a{
width: 26vw;
color: #000;
}
.Botones :hover{
transform: scale(1.3);
transition: 1.5s;
}
.Botones2{
display: flex;
justify-content: space-around;
flex-direction: row;
transition: 1.5s; 
}
.Botones2 a{
width: 26vw;
color: #000;
}
.Botones2 :hover{
transform: scale(1.3);
transition: 1.5s;
}
.Estudios{
text-align: center;
background-color:#6AF0F7 ;
margin-top:8vw;
padding-left: 2vw;
padding-right: 2vw;
margin-right: 4vw;
width: 100%;
border-radius: 3vw;
z-index: 1530;

justify-content: center;
}
.IntroEstudios h2{
color: white;

}
.cuadradoblanco{
border: solid 1px #FFF;
border-radius: 1vw;
padding: 2vw;
margin:2vw;
width: 85.5vw;
margin-left: 1.5vw;
}
.cuadradoblanco p{

color: #fff;
}
.cuadradoblanco h3{

}
.IntroEstudios h3{
color: rgb(8, 109, 249);

}
.Conocimiento{
display: flex;
flex-direction: row;
font-size:1.6vw;
margin-right: 12vw;
justify-content: center;
}
.Estudios h3{
text-align: center;
color: white;
margin-top: 3vw;
font-weight: 100;
}
.cuadradoblanco{
border: solid 1px #FFF;
background-color: black;
border-radius: 2vw;
}
/* MasInfo */
.capa a{
text-decoration:none;
color: rgb(0, 0, 0);
background-color: rgb(8, 109, 249);
margin-left: 5.5vw;
border-bottom-color: #222;
border-bottom-width: 2px;
border-bottom-style: solid;
align-self:center;

}
.capa a:hover{
transform: scale(1.3);
transition: 1.5s;
}
.capa2 a:hover{
transform: scale(1.3);
transition: 1.5s;
}
.capa2 a{
text-decoration:none;
color: rgb(0, 0, 0);
background-color: rgb(8, 109, 249);
margin-left: 2.5vw;
border-bottom-color: #222;
border-bottom-width: 2px;
border-bottom-style: solid;
align-self:center;

}
.skills{ 
background-color:#000;
color: #fff;
position: fixed;
top:0;
left:-100vw;
width:100vw;
height: 100vh;
z-index: 10000000;
}
.skills:target{
display:flex;
align-items:center;
justify-content:center;
left:0;
}
.cerrar{
display:flex;
position:absolute;
top:7vw;
left:0;
padding:1vw;
color: black;
text-decoration:none;
font-size:2vw;
box-sizing:border-box;
}
.parrafo{
width:70%;
text-align:justify;
}
/* Intro */
.IntroImagen h1{
color: #fff;
text-align: center;
background-color: rgba(0, 0, 0, 0.7);
width: 22vw;
height: 8vw;   
padding: 0.7vw; 
border-radius: 3px;
}
.IntroPortfolio{
background-color: #6AF0F7;
border-radius: 3vw;
width: 99%;
}
.IntroImagen{   
border: solid 1px #FFF; 
margin-left: 4vw;
border-radius: 1vw;
background-image: url('Imagenes/FondoIntro.webp');
background-size: cover;
width: 85.5vw;
height: 13vw;
display: flex;
justify-content: center;
align-items: center;   

}
/*Datos Personales*/
.SeccionDatos{

text-align: center;
}
.cuadradoblanco2{
padding: 2vw;
margin:4vw;
background-color: rgb(0, 0, 0);
border: solid 1px #FFF;
border-radius: 1vw;
display: flex;
justify-content: center;
align-content: center;
}
.cuadradoblanco2 p{

color: #fff;
}
.cuadradoblanco2 h3{

}
.tabla{
border: solid 1px #FFF;
color: #FFF;
table-layout: fixed;
border-collapse: collapse;
margin-left: 0.5vw;
width: 62vw;   
height: 13vw;

}
.cuadradoblanco2 img{
width: 12.5vw;
height: 13vw;
/* margin-left: 0.2vw; */
border-radius: 1vw;
}
thead{
background-color: rgb(85, 84, 84,0.7);
}
th{
padding: 20px 15px;
}
td{
padding: 20px 15px;
text-align: center;
}
/* Medios de Contacto */
.cuadradoblanco3{
border: solid 1px #FFF;
padding: 2vw;
margin:4vw;
background-color: rgb(0, 0, 0);
border-radius: 1vw;
}
.cuadradoblanco3 h1{
color: #FFF;
text-align: center;

}
.Tamaño img{
width: 12vw;
height: 12vw;   
}

.Tamaño figure:hover{
transition: 1.5s;
transform: scale(1.1);
}
.Tamaño img:hover{
background-color: aqua;
border-radius: 55vw;
background-origin:content-box;
transition: 2s;
transform: scale(1.1);
}
.Tamaño{
display: flex;
justify-content: space-around;
align-content: center;
}
.Tamaño h3{
color: #FFF;
text-align: center;
margin-bottom: 2vw;
}
/* Ubicación */
.cuadradoblanco3 iframe{
border: solid 1px #FFF;
width: 62vw;
height: 32vw;
border-radius: 1vw;
margin-left: 9.5vw;
cursor: url('Imagenes/Mouse2.webp'), auto;
}
/* Idiomas */
.cuadradoblancoL{
border: solid 1px #FFF;
border-radius: 1vw;
padding: 2vw;
margin:2vw;
width: 85.5vw;
margin-left: 1.5vw;
background-color: #000;

}
.estrella{
width:3vw;
padding: 0.5; 
height: 3vw;
}
.Español{
margin: 2vw;
color: #FFF;

/* border: 1px solid #ccc; */
border-radius: 1vw;
margin-right: 21vw;
width: 20.5vw;

}
.Español div{
width: 32;
}
.Español h4{
padding: 1.7vw;
}

.Ingles{
margin: 2vw;
color: #FFF;

/* border: 1px solid #ccc; */
border-radius: 1vw;
width: 20.5vw;
}
.Ingles div{
width: 32;
}
.Ingles h4{
margin-top: 1.7vw;

}
.center2 p{
color: #FFF;

padding: 1vw;
justify-content: center;

}

.Ingles2{
margin-left: 8vw;
margin: 2vw;
color: #FFF;

/* border: 1px solid #ccc; */
border-radius: 1vw;
width: 27vw;
text-align: left;
}
.Español2{
color: #FFF;

/* border: 1px solid #ccc; */
border-radius: 1vw;
width: 27vw;
margin-right: 21vw;
/* margin: 2vw; */
height: 18vw;
margin-top: 2vw;
text-align: left;
}
.center2{
display: flex;
flex-direction: row-reverse;
margin-right: 1vw;
}
.center{
margin-right: 6vw;
display: flex;
flex-direction: row-reverse;
justify-content: space-between;
}
.Margen{
margin-left: 5vw;
}
/* Experiencia */
.cuadradoblanco4{
border-radius: 1vw;
padding: auto;
width: 85.5vw;
margin-left: 3.5vw;
background-color: #000;
}
.cuadradoblanco4 h1{
color: #FFF;
text-align: center;

}
.Experiencia a{
display: flex;
justify-content: center;
align-items: center;
}
.Experiencia p{
color: #FFF;
text-align: left;
}
.Experiencia{
display: flex;
justify-content: center;
align-items: center;
align-content: center;
border: 1px solid #fff;
border-radius: 1vw;
padding: 1vw;
}
.ExperienciasJuntas{
margin-left: 0.5vw;
text-align: center;
background-color:#6AF0F7;
width: 98.1%;
border-radius: 3vw;
z-index: 1530;

justify-content: center;
}
.cuadradoblanco4 figure{
border: 1px solid #ccc;
margin: 3vw;
/* margin-top: 4vw; */
position:relative;
height: 15vw;
cursor: pointer;
width: 20vw;
overflow: hidden;
border-radius: 6px;
display: flex;
justify-content: center;
box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}

.cuadradoblanco4 figure img{
width: 14vw;
height: 14vw;
/* all 400ms ease-out */
transition: 1.5s;
will-change: transform;
padding: 2vw;
}
.cuadradoblanco4 figure .capa3{
position: absolute;
top: 0;
width: 100%;
height: 100%;
background: rgba(42, 217, 230, 0.85);
transition: 1.5s;
opacity: 0;
visibility: hidden;
text-align: center;
}
.cuadradoblanco4 figure:hover > .capa3 {
opacity: 1;
visibility: visible;
}
.cuadradoblanco4 figure:hover > .capa3 h3{
margin-top: 5vw;
margin-bottom: 1vw;

}
.cuadradoblanco4 figure:hover > img{
transform: scale(1.3);
}
.cuadradoblanco4 figure .capa3 h3{
color: black;
font-weight: 400;
margin-bottom: 120px;
transition: 1.5s;
margin-top: 30px;

}
.cuadradoblanco4 figure:hover > img{
transform: scale(1.3);
}
.cuadradoblanco4 a{
display:block;
width:9vw;
font-weight:400;
border-radius: 1vw;
margin:1vw 1.3vw;
padding:1vw 2vw;
text-decoration:none;
color:white;
background-color:rgb(8, 109, 249);
}
.capa3 a{
margin-left:5.5vw;
color:black;
}
.capa3 a:hover{
transform: scale(1.3);
transition: 1.5s;
}

.order{
display: flex;
flex-direction: row;
justify-content: center;
}
.capa3{
display: flex;
justify-content: center;
flex-direction: column;
padding-bottom: 3vw;
}
.IntroImagen2 h1{
color: #fff;
text-align: center;
background-color: rgba(0, 0, 0, 0.7);
width: 22vw;
height: 5.5vw;   
padding: 0.7vw; 
border-radius: 3px;
}
.IntroPortfolio2{
background-color: #6AF0F7;
border-radius: 3vw;
width: 100%;
}
.IntroImagen2{   
border: solid 1px #FFF; 
margin-left: 3.5vw;
border-radius: 1vw;
background-image: url('Imagenes/FondoIntro2.webp');
background-size: cover;
width: 85.5vw;
height: 13vw;
display: flex;
justify-content: center;
align-items: center;   
}
#margin_practica{
display: flex;
justify-content: center;
flex-direction: row;
}


html {
line-height: 1.15; /* 1 */
-webkit-text-size-adjust: 100%; /* 2 */
}

body {
margin: 0;
}


main {
display: block;
}



h1 {
font-size: 2em;
margin: 0.67em 0;
}


hr {
box-sizing: content-box; /* 1 */
height: 0; /* 1 */
overflow: visible; /* 2 */
}



pre {
font-family: monospace, monospace; /* 1 */
font-size: 1em; /* 2 */
}


a {
background-color: transparent;
}



abbr[title] {
border-bottom: none; /* 1 */
text-decoration: underline; /* 2 */
text-decoration: underline dotted; /* 2 */
}


b,
strong {
font-weight: bolder;
}



code,
kbd,
samp {
font-family: monospace, monospace; /* 1 */
font-size: 1em; /* 2 */
}

small {
font-size: 80%;
}



sub,
sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
}

sub {
bottom: -0.25em;
}

sup {
top: -0.5em;
}



img {
border-style: none;
}



button,
input,
optgroup,
select,
textarea {
font-family: inherit; /* 1 */
font-size: 100%; /* 1 */
line-height: 1.15; /* 1 */
margin: 0; /* 2 */
}


button,
input { /* 1 */
overflow: visible;
}


button,
select { /* 1 */
text-transform: none;
}



button,
[type="button"],
[type="reset"],
[type="submit"] {
-webkit-appearance: button;
}


button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
border-style: none;
padding: 0;
}


button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
outline: 1px dotted ButtonText;
}

fieldset {
padding: 0.35em 0.75em 0.625em;
}


legend {
box-sizing: border-box; /* 1 */
color: inherit; /* 2 */
display: table; /* 1 */
max-width: 100%; /* 1 */
padding: 0; /* 3 */
white-space: normal; /* 1 */
}



progress {
vertical-align: baseline;
}



textarea {
overflow: auto;
}


[type="checkbox"],
[type="radio"] {
box-sizing: border-box; /* 1 */
padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
height: auto;
}

[type="search"] {
-webkit-appearance: textfield; /* 1 */
outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;
}


::-webkit-file-upload-button {
-webkit-appearance: button; /* 1 */
font: inherit; /* 2 */
}



details {
display: block;
}


summary {
display: list-item;
}



template {
display: none;
}


[hidden] {
display: none;
}
h1{
font-size: 3vw;
}
h2{
font-size: 3vw;
}
h3{
font-size: 2.3vw;
}
h4{
font-size: 3vw;
}
p{
font-size: 2.5vw;
}
a{
font-size: 1vw;
}
li{
font-size: 2vw;
}
.font-s a{
font-size: 3vw;
}
